# See https://projectlombok.org/features/configuration
# To tell lombok this is your root directory
config.stopBubbling = true

# For excluding lombok generated code in coverage statistics
lombok.addLombokGeneratedAnnotation = true

# Staat toe dat @Qualifier, @Value en @Named op velden worden gebruikt
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Qualifier
lombok.copyableAnnotations += org.springframework.beans.factory.annotation.Value
lombok.copyableAnnotations += jakarta.inject.Named